*{
    padding: 0;
    margin:0;
    list-style:none; 
    text-decoration:none; 
    font-family:"맑은 고딕";


}

body{
<<<<<<< HEAD
    width:50%;
=======
    width:40%;
>>>>>>> origin/master
    background-size:inherit;
    margin:0 auto;
}

.wrap {
}

a{ 
    text-decoration: none;
    color: inherit;
    
}
/*scone*/
h1{text-align: center; color: red;}


.txt{ padding: 0; font-weight: 600; margin-bottom:10px; }
.today{ font-size: 15px;   }
#date{ color:deepskyblue;}
.today2{ font-size: 13.5px; }


/*list wrap*/
.list_wrap{ width:100%; }


/*list head*/
.list_head, .list_body{ width:100%; float:left; }
.list_head{ border-top: 2px solid #000; border-bottom: 2px solid #000; box-sizing:border-box; float:left; }
.list_head li{ float:left; height:30px; line-height:30px; text-align:center; font-weight:bold;} 
.rank{ width:5%; background-color: aqua; }
.company{ width:30%; background-color: yellow;}
.value{ width:20%; background-color: aqua;}
.keyword{ width:45%; background-color:fuchsia}


/*list body*/
.list_body{ width:100%;}
.list_row{ float:left; border-bottom:1px solid #111;}
.list_row > div{float:left; height:60px; line-height:60px; text-align: center;}
.list_rank{ width:5%; background-color: aqua; }
.list_ci{ width:15%; background-color: }
.list_ci img{width:100%; height:100%;}
.list_company{width:15%; background-color:red;}
.list_value{ width:20%; background-color:cornflowerblue}
.list_keyword{width:45%; background-color:fuchsia} 



/*footer*/
footer .copy{ font-size: 11px; text-align: center; font-weight: 600; padding:20px 0 10px 0;}
.copy .cr_red{ color:red;}
